{{ with ($div_id := .Get "div_id")}}
    <div id={{ $div_id }} style="overflow-x: scroll; max-width: 1000px;"></div>

    {{ with ($file := ($.Page.Resources.Get ($.Get "file"))) }}
        <script type="text/javascript">
            vegaEmbed(
                '#{{ $div_id }}',
                "{{ $file.Permalink }}"
            ).then(function(result) {
                // Access the Vega view instance (https://vega.github.io/vega/docs/api/view/) as result.view
            }).catch(console.error);
        </script>
    {{ end }}
{{ end }}